.edit-profile-container {
  width: 400px;
  background-color: #fff;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: #212121;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.edit-profile-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.edit-profile-form .flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.edit-profile-form .title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.edit-profile-form .title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
}

.edit-profile-form .title::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}

.edit-profile-form .title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.edit-profile-form .flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.edit-profile-form .form label {
  position: relative;
}

.edit-profile-form .form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}