.status-task {
    flex: 1;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.status-task h2 {
    margin: 0 0 10px;
    text-align: center;
    font-size: 18px;
}